.App {
  text-align: center;
  background-image:url("https://i.ibb.co/tMnT3Lz/bgimage.jpg");
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



